<h1><%= @user.name %>,</h1>
</br></br>
<h2>Thank you for registering to eceFTW!</h2>
</br>
<h2> Your details are as follow:</h2>
</br>
<p>username: <%=@user.email%> </br> password: <%=@user.password %></p>

