<h1> BME595H1 S: Medical Imaging</h1>
<p><strong>Note:</strong> This course comes under <strong>Area 2</strong> (Electromagnetics and Energy Systems) and <strong>Area 4</strong> (Control, Comunications and Signal Processing).</p>