<% form_tag check_course_path, :method => 'get' do %>
<p>
    <%= text_field_tag :course, params[:course] %>
    <%= submit_tag "Go To Course", :name => nil %>
<br />
    example: ece361
</p>
  <% end %>


<h1>ECE @ uoft</h1>
<table>
  <tr>
    <th>Website</th>
    <th>Undergraduate office</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>

  <tr>
    <td> <a href="http://www.ece.utoronto.ca/">www.ece.utoronto.ca/</td>
    <td> Room SFB600</td>
    <td>askece@ecf.utoronto.ca</td>
    <td>416-978-0488</td>
  </tr>
</table>



<p>The following ece courses provide discussion forums, course ratings, comments/suggestions from previous students, past papers and chat rooms. </br>
Please visit a specific course for more details </p>
 
<h2>Courses</h2>
<h4><strong>Area 1: Photonics and Semiconductor Physics </strong></h4>
</br>
<table>
  <tr>
    <th>Fall</th>
    <th>Winter</th>
  </tr>

  <tr>
    <td><a href="/course/ece335">ECE335H1 F: Introduction to Electronic Devices</a></td>
    <td><a href="/course/ece318">ECE318H1 S: Fundamentals of Optics</a></td>
  </tr>

  <tr>
	<td><a href="/course/ece442">ECE442H1 F: Introduction to Micro-and Nano-Fabrication</a> </td>
	<td>	<a href="/course/ece330">ECE330H1 S: Semiconductor & Device Physics</a></td>
  </tr>

  <tr>
	<td><a href="/course/ece527">ECE527H1 F: Photonic Devices</a> </td>
	<td><a href="/course/ece469">ECE469H1 S: Optical Communications and Networks</a></td>
  </tr>

  <tr>
	<td><a href="/course/ece535">ECE535H1 F: Advanced Electronic Devices</a></td>
	<td><a href="/course/ece525">ECE525H1 S: Lasers and Detectors</a></td>
  </tr>
  <tr>
	<td></td>
	<td><a href="/course/phy335">PHY335H1 S: Introduction to Quantum Mechanics</a></td>
  </tr>

</table>
<br />
<h4><strong>Area 2: Electromagnetics and Energy Systems</strong></h4>
<br />
<table>
  <tr>
    <th>Fall</th>
    <th>Winter</th>
  </tr>

  <tr>
    <td> <a href="/course/ece314">ECE314H1 F: Fundamentals of Electrical Energy Systems</a> </td>
    <td><a href="/course/bme595">BME595H1 S: Medical Imaging</a> </td>
  </tr>

  <tr>
    <td><a href="/course/ece510">ECE510H1 F: Introduction to Lighting Systems</a> </td>
    <td><a href="/course/ece422">ECE422H1 S: Radio & Microwave Wireless Sys</a> </td>
  </tr>
  <tr>
    <td><a href="/course/ece533">ECE533H1 F: Advanced Power Electronics</a> </td>
    <td><a href="/course/ece413">ECE413H1 S: Energy Systems & Distrib. Gen.</a> </td>
  </tr>
  <tr>
    <td> <a href="/course/ece320">ECE320H1 F: Fields & Waves</a></td>
    <td> <a href="/course/ece463">ECE463H1 S: Electric Drives</a></td>
  </tr>
  <tr>
    <td><a href="/course/ece524"> ECE524H1 F: Microwave Circuits</a> </td>
    <td> </td>
  </tr>
</table>

<br />
<h4><strong>Area 3: Analog and Digital Electronics </strong></h4>
<br />  
<a href="/course/ece334">ECE334H1 F/S: Digital Electronics</a>
<br />
<a href="/course/ece331">ECE331H1 F/S: Analog Electronics</a>
</br>
<table>
  <tr>
    <th>Fall</th>
    <th>Winter</th>
  </tr>

  <tr>
    <td><a href="/course/ece446">ECE446H1 F: Sensory Communication</a></td>
    <td><a href="/course/ece532">ECE532H1 S: Digital Systems Design</a> </td>
  </tr>

  <tr>
    <td><a href="/course/ece512">ECE512H1 F: Analog Signal Processing Circuits</a> </td>
    <td><a href="/course/ece451">ECE451H1 S: VLSI Systems and Design</a></td>
  </tr>
  <tr>
    <td><a href="/course/ece534">ECE534H1 F: Integrated Circuit Engineering</a> </td>
    <td><a href="/course/ece530">ECE530H1 S: Analog Integrated Circuits</a> </td>
  </tr>
</table>

<h4><strong>Area 4: Control, Communications and Signal Processing </strong></h4>
</br>
<a href="/course/ece302">ECE302H1 F/S: Probability & Applications</a>	   
<br />
<a href="/course/ece316">ECE316H1 F/S: Communication Systems</a>
</br>

<a href="/course/ece431">ECE431H1 F/S: Digital Signal Processing</a>
<br />
<table>
  <tr>
    <th>Fall</th>
    <th>Winter</th>
  </tr>

  <tr>
    <td><a href="/course/ece410">ECE410H1 F: Control Systems</a>  </td>
    <td> <a href="/course/ece311">ECE311H1 S: Dynamic Systems & Control</a>	    </td>
  </tr>

  <tr>
    <td><a href="/course/ece445">ECE445H1 F: Neural Bioelectricity</a>  </td>
    <td><a href="/course/bme595">BME595H1 S: Medical Imaging</a>  </td>
  </tr>

  <tr>
    <td><a href="/course/ece446"> ECE446H1 F: Sensory Communication</a>  </td>
    <td><a href="/course/ece411"> ECE411H1 S: Real-Time Computer Control</a>  </td>
  </tr>

  <tr>
    <td><a href="/course/ece537">ECE537H1 F: Random Processes</a>  </td>
    <td><a href="/course/ece417">ECE417H1 S: Digital Communication</a>  </td>
  </tr>

  <tr>
    <td>  </td>
    <td><a href="/course/ece464">ECE464H1 S: Wireless Communication</a>  </td>
  </tr>

  <tr>
    <td>  </td>
    <td> <a href="/course/ece462">ECE462H1 S: Multimedia Systems</a> </td>
  </tr>

  <tr>
    <td>  </td>
    <td><a href="/course/ece469">ECE469H1 S: Optical Communications and Networks</a>  </td>
  </tr>

  <tr>
    <td>  </td>
    <td> <a href="/course/ece470">ECE470H1 S: Robot Modeling and Control</a>	    </td>
  </tr>

  <tr>
    <td>  </td>
    <td><a href="/course/ece516">ECE516H1 S: Intelligent Image Processing</a>  </td>
  </tr>
  <tr>
    <td>  </td>
    <td><a href="/course/ece521">ECE521H1 S: Inference Algorithms</a>  </td>
  </tr>

  <tr>
    <td>  </td>
    <td><a href="/course/mie331">MIE331H1 S: Physiological Control Systems</a>  </td>
  </tr>

</table>
</br>

<h4><strong>Area 5: Computer Hardware and Computer Networks </strong></h4>
<br />
<a href="/eces/2">ECE361H1 F/S: Computer Networks I</a>	   
</br>

<table>
  <tr>
    <th>Fall</th>
    <th>Winter</th>
  </tr>
  <tr>
    <td><a href="/course/ece461">ECE461H1 F: Internetworking</a>	    </td>
    <td><a href="/course/ece342">ECE342H1 S: Computer Hardware</a>	     </td>
  </tr>

  <tr>
    <td><a href="/course/ece552">ECE552H1 F: Computer Architecture</a> </td>
    <td> <a href="/course/ece451">ECE451H1 S: VLSI Systems and Design</a>  </td>
  </tr>

  <tr>
    <td> </td>
    <td><a href="/course/ece466">ECE466H1 S: Computer Networks II</a>  </td>
  </tr>

  <tr>
    <td> </td>
    <td><a href="/course/ece532">ECE532H1 S: Digital Systems Design</a></td>
  </tr>
  <tr>
    <td> </td>
    <td><a href="/course/ece469">ECE469H1 S: Optical Communications and Networks</a>	    </td>
  </tr>

</table>
<br />
<h4><strong>Area 6: Software </strong></h4>
<br />
<a href="/eces/3">ECE344H1 F/S: Operating Systems</a>	   

<br />

<a href="/course/ece345">ECE345H1 F/S: Algorithms & Data Structures</a>	   
<br />

<a href="/course/csc343">CSC343H1 F/S: Introduction to Databases</a>	   
<br />
<a href="/course/csc418">CSC418H1 F/S: Computer Graphics</a>	   
</br>


<table>
  <tr>
    <th>Fall</th>
    <th>Winter</th>
  </tr>

  <tr>
    <td> <a href="/course/csc326">CSC326H1 F: Programming Languages</a>	    </td>
    <td> <a href="/course/ece419">ECE419H1 S: Distributed Systems</a>  </td>
  </tr>

  <tr>
    <td> <a href="/course/csc444">CSC444H1 F: Software Engineering I</a> </td>
    <td> <a href="/course/ece450">ECE450H1 S: Software Engineering II </a> </td>
  </tr>

  <tr>
    <td> <a href="/course/csc467">CSC467H1 F: Compilers and Interpreters</a>	    </td>
    <td><a href="/course/ece540">ECE540H1 S: Optimizing Compilers</a>	     </td>
  </tr>

  <tr>
    <td> <a href="/course/ece448">ECE448H1 F: Biocomputation</a>	    </td>
    <td> <a href="/course/ece568">ECE568H1 S: Computer Security</a> </td>
  </tr>

  <tr>
    <td><a href="/course/ece454">ECE454H1 F: Computer Systems Programming</a>	     </td>
    <td>  </td>
  </tr>

  <tr>
    <td> <a href="/course/ece461">ECE461H1 F: Internetworking</a>  </td>
    <td>  </td>
  </tr>
</table>


</p>

