<h1>ECE469H1 S: Optical Communications and Networks</h1>
<p><strong>Note:</strong> This course comes under <strong>Area 3</strong> (Analog and Digital Electronics) and <strong>Area 5</strong> (Control, Communication and Signal Processing).</p>