 <h1>ECE446H1 F: Sensory Communication</h1>
 <p><strong>Note:</strong> This course comes under <strong>Area 3</strong> (Analog and Digital Electronics) and <strong>Area 4</strong> (Control, Communications and Signal Processing).</p>