 <h1>ECE451H1 S: VLSI Systems and Design</h1> 
 <p>Note: This course comes under <strong>Area 3 (Analog and Digital Electronics)</strong> and <strong>Area 5 (Computer Hardware and Networks)</strong>.</p>